<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.nowcode.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.nowcode.vo.QuestionVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" property="content"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.edu.nju.nowcode.vo.QuestionVO">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, comment_count, user_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="getLatestQuestions" resultMap="BaseResultMap">
    SELECT * FROM question
    where
    <if test="userId!=0">
      user_id=#{userId} and
    </if>
    del_flag=0
    ORDER BY id DESC limit #{offset},#{limit}
  </select>

  <select id="getQuestionCountByUser" resultType="int" parameterMap="java.lang.String">
    select count(id) from question where user_id=#{userId}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=BIGINT} AND del_flag=0
  </select>

  <insert id="insertSelective" parameterType="cn.edu.nju.nowcode.vo.QuestionVO">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      CURRENT_TIMESTAMP
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nju.nowcode.vo.QuestionVO">
    update question
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      update_time=CURRENT_TIMESTAMP
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateDelFlag">
    UPDATE  question set del_flag=#{delFlag} WHERE id=#{id}
  </update>

  <update id="updateCommentCount">
    UPDATE question set comment_count=#{count} WHERE id=#{id}
  </update>
</mapper>